/* Global styling */

@font-face {
    font-family: "Outfit";
    src: url("../fonts/Outfit.woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font: 2vh/1 "Outfit";
    color: var(--text, #FFF);
    background: linear-gradient(var(--shade, #0000), var(--shade, #0000)), var(--bg) center / cover fixed;
    @media (orientation: portrait) { font-size: 3.5vw; }
}

h1 {
    font-weight: 900;
    font-size: 2.5em;
}

p {
    margin: 1.5em 0;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Scrollbar and highlighting */

::-webkit-scrollbar {
    width: var(--scrollbar-width, 0.5em);
    @media (orientation: portrait) { width: 0; }
}

::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background: currentColor;
}

::selection {
    background: var(--text, #FFF);
    color: var(--inverse, #222);
}

/* Colours */

.classical { --base: #705A3D; --light: #917550; --hover: #A18259; }
.blues { --base: #283593; --light: #3F4FCA; --hover: #5361D0; }
.jazz { --base: #E57373; --light: #ED9C9C; --hover: #F1B1B1; }
.country { --base: #747538; --light: #969748; --hover: #A1A34E; }
.rhythmandblues { --base: #00695C; --light: #009688; --hover: #26A69A; }
.pop { --base: #FDD835; --light: #FFEB3B; --hover: #FFF176; --text: #222; --inverse: #FFF; }
.rock { --base: #C62828; --light: #F44336; --hover: #EF5350; }
.metal { --base: #080808; --light: #212121; --hover: #424242; }
.punk { --base: #EF6C00; --light: #FF9800; --hover: #FFA726; }
.alternative { --base: #37474F; --light: #56707B; --hover: #78909C; }
.disco { --base: #C2185B; --light: #E91E63; --hover: #EC407A; }
.reggae { --base: #2E7D32; --light: #4CAF50; --hover: #66BB6A; }
.hiphop { --base: #4E3852; --light: #6A4C70; --hover: #79577F; }
.industrial { --base: #4E342E; --light: #795548; --hover: #8D6E63; }
.house { --base: #009F6B; --light: #00D18D; --hover: #00DE95; }
.trance { --base: #6A1B9A; --light: #8522C3; --hover: #9426D9; }
.techno { --base: #555555; --light: #666666; --hover: #777777; }
.hardcore { --base: #464039; --light: #625A50; --hover: #70675C; }
.breakbeat { --base: #783F5D; --light: #9A5177; --hover: #A95B83; }
.drumandbass { --base: #9A1839; --light: #C71F49; --hover: #DD2251; }
.ukgarage { --base: #8F7CAD; --light: #A892CC; --hover: #B59DDB; }
.downtempo { --base: #EDEDED; --light: #F5F5F5; --hover: #FFF; --text: #222; --inverse: #FFF; }
.hauntology { --base: #29CCCC; --light: #2CDEDE; --hover: #2FEDED; --text: #222; --inverse: #FFF; }
.folk { --base: #C6A44D; --light: #D2B774; --hover: #D8C188; }
.world { --base: #364F30; --light: #4C6F44; --hover: #567E4E; }

/* Home page */

main {
    min-height: 100vh;
    display: grid;
    place-content: center;
    justify-items: center;
    gap: 0.5em;
    text-align: center;
    font-size: 4vw;
    @media (orientation: portrait) { font-size: 7vw; }

    > a {
        border: 0.125em solid;
        border-radius: 1em;
        padding: 0.3em 0.4em;
        font-size: 1.75em;
        font-weight: 600;
        &:hover { color: #FF6D00; }
    }
}

:is(body:has(> main), body:has(> section)) { --shade: #0009; }

/* Genre index */

body:has(> h1) {
    --scrollbar-width: 0;
    &, > nav { display: grid; gap: 2vw; }
    > nav > a { display: grid; }
    position: absolute;
    inset-inline: 0;
    margin: 2vw 8vw;
    min-height: calc(100vh - 4vw);
    background: url("../images/wood.jpg") top left / cover;
    font-size: 1.75vw;
    align-content: center;
    padding-bottom: 2vw;
    @media (orientation: portrait) { h1 { margin: 3vw 0; font-size: 12vw; } }

    > nav {
        grid-template-columns: repeat(4, 1fr);
        @media (orientation: portrait) { grid-template-columns: 1fr; gap: 5vw; padding-bottom: 3vw; }

        > a {
            place-items: center;
            > * { grid-area: 1 / 1; }

            > span {
                z-index: 1;
                font-size: 2.75vw;
                @media (orientation: portrait) { font-size: 8vw; }
            }

            > img {
                width: 100%;
                border-radius: 1em;
                box-shadow: 0.01em 0.01em 0.5em #0009;
                filter: brightness(40%);
                @media (orientation: portrait) { border-radius: 3.5em; height: 25vw; object-fit: cover; }
            }
        }
    }
}

/* Genre overview */

body > :is(section, article) { background: var(--base); }

body:has(> section) {
    &, > section { overflow: auto; }
    @media (orientation: landscape) { display: grid; grid-template-columns: 1fr min(calc(100em / 3), 50vw); height: 100vh; overflow: hidden; }

    > nav {
        padding: 1em;
        font-size: calc(11vh / 3);
        color: #FFF;
        & ::selection { background: var(--base); color: var(--text, #FFF); }
        @media (orientation: portrait) { font-size: 6vw; }

        > h1 {
            font-size: 2em;
            margin-bottom: 0.4em;
        }

        > a {
            display: block;
            width: fit-content;
            line-height: 1.4;
            &:hover { color: var(--hover); }
        }
    }

    > section {
        border-left: 0.5em solid var(--light);
        box-shadow: -0.01em 0 0.5em #0009;
        padding: 1.5em 1.5em 0;
        @media (orientation: portrait) { border-left: none; border-top: 0.5em solid var(--light); box-shadow: 0 -0.01em 0.5em #0009; }
    }
}

/* Genre detail */

body > article {
    position: relative;
    margin: 2em;
    border: 0.5em solid var(--light);
    border-radius: 2em;
    box-shadow: 0.1em 0.1em 0.5em #0009;
    padding: 1.5em;
    max-width: 40em;
    @media (orientation: portrait) { margin: 1.5em; }

    h1 > span, > div > div, > div:last-child {
        font-weight: 700;
        user-select: none;
        background: var(--light);
    }

    h1 > span {
        float: right;
        border-radius: 1em;
        padding: 0.25em;
        font-size: 0.8em;
        @media (orientation: portrait) { float: left; margin: 0.6em 100% 0.5em 0; font-size: 0.6em; }
    }

    > div:first-of-type {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75em;
        margin: 1.5em 0 1.25em;
    }

    > div > div, > div:last-child {
        border-radius: 0.15em;
        width: 1em;
        line-height: 1.25;
        text-align: center;
        font-size: 2.5em;
        &:hover { background: var(--hover); }
        &[data-playing] { box-shadow: inset 0 0 0 0.1em currentColor; }
    }

    > div:last-child {
        position: absolute;
        inset: auto 0.67em 0.67em auto;
    }

    > span {
        display: grid;
        grid-template-columns: 3em 1fr;
        padding-right: 2em;
        font-size: 1.25em;
        line-height: 1.6;
    }
}
