@font-face {
    font-family: Outfit;
    src: url(../fonts/Outfit.ttf);
}

/*---------------------------------------------------------------------------*/

body {
    font-family: Outfit;
    line-height: 1.6;
    color: #FFF;
}

h1 {
    font-weight: 900;
    font-size: 2.5em;
}

p {
    margin: 1.5em 0;
}

a {
    color: #FFF;
    text-decoration: none;
}

/*---------------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #FFF;
    border-radius: 0.5em;
}

.pop::-webkit-scrollbar-thumb, .experimental::-webkit-scrollbar-thumb {
    background: #222;
}

/*---------------------------------------------------------------------------*/

#primary-intro {
    font-size: 4vw;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#primary-intro h1 {
    margin-bottom: 0.5em;
}

#primary-intro-button {
    font-weight: 600;
    font-size: 1.75em;
    border: 0.125em solid;
    border-radius: 2em;
    padding: 0.2em 0.4em;
}

#primary-intro-button:hover {
    color: #FF6D00;
    border-color: #FF6D00;
}

/*---------------------------------------------------------------------------*/

#secondary {
    margin: 2vw 8vw;
    font-size: 1.5vw;
    background: url("../images/wood.jpg");
    position: absolute;
    background-size: cover;
}

#secondary::-webkit-scrollbar {
    width: 0;
}

.secondary-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin: 1.25em 0 2em;
}

.secondary-grid-item {
    flex: 1 1 calc(25% - 2vw);
    position: relative;
}

.secondary-grid-item img {
    width: 100%;
    border-radius: 1em;
    box-shadow: 0.01em 0.01em 0.5em rgba(0, 0, 0, 0.6);
    filter: brightness(40%);
}

.secondary-grid-item span {
    font-size: 2.9vw;
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    white-space: nowrap;
}

#shrink {
    font-size: 2.65vw;
}

/*---------------------------------------------------------------------------*/

.tertiary-genrelist {
    flex: 1;
    font-size: 3.5vh;
    padding: 0.75em 1.25em;
}

.tertiary-genrelist h1 {
    font-size: 2em;
    margin-bottom: 0.25em;
}

.tertiary-sidebar {
    font-size: 2vh;
    width: 33.33em; height: 100vh;
    max-width: 50vw;
    padding: 1.5em 1.5em 0;
    box-shadow: -0.01em 0 0.5em rgba(0, 0, 0, 0.6);
    overflow: auto;
}

/*---------------------------------------------------------------------------*/

.quaternary-box {
    font-size: 2vh;
    width: 40em;
    padding: 1.5em;
    margin: 2em;
    border-radius: 1.5em;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.6);
    position: relative;
}

.quaternary-box h1 {
    width: 100%;
}

.quaternary-year {
    font-weight: 700;
    font-size: 2em;
    padding: 0 0.3em;
    border-radius: 1em;
    user-select: none;
    position: absolute;
    top: 0.75em; right: 0.75em;
}

.quaternary-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
}

.quaternary-grid-item {
    flex: 0 0 calc(100% / 12);
}

.quaternary-button {
    font-weight: 700;
    font-size: 2.5em;
    text-align: center;
    width: 1em;
    line-height: 1.25;
    border-radius: 0.15em;
    margin-bottom: 0.6em;
    user-select: none;
}

.quaternary-artisttrack {
    font-size: 1.2em;
    display: flex;
    padding-right: 2.5em;
    align-items: baseline;
    user-select: none;
}

.quaternary-artisttrack::before {
    content: attr(data-label);
    width: 3em;
    flex-shrink: 0;
}

.quaternary-stop {
    position: absolute;
    bottom: 0.5em; right: 1.5em;
}

.clicked {
    box-shadow: inset 0 0 0 0.1em #FFF;
}

.pop-light.clicked, .experimental-light.clicked {
    box-shadow: inset 0 0 0 0.1em #222;
}

/*---------------------------------------------------------------------------*/

.classical { background: #705A3D; }
.blues { background: #283593; }
.jazz { background: #E57373; }
.country { background: #8A9A5B; }
.rhythmandblues { background: #00695C; }
.pop { background: #FDD835; color: #222; }
.rock { background: #C62828; }
.metal { background: #080808; }
.punk { background: #EF6C00; }
.alternative { background: #37474F; }
.industrial { background: #4E342E; }
.reggae { background: #2E7D32; }
.hiphop { background: #4E3852; }
.house { background: #009F6B; }
.trance { background: #6A1B9A; }
.techno { background: #555555; }
.hardcore { background: #464039; }
.breakbeat { background: #783F5D; }
.drumandbass { background: #9A1839; }
.ukgarage { background: #8F7CAD; }
.experimental { background: #EDEDED; color: #222; }

.classical-light { background: #917550; }
.blues-light { background: #3F4FCA; }
.jazz-light { background: #ED9C9C }
.country-light { background: #ADB889; }
.rhythmandblues-light { background: #009688; }
.pop-light { background: #FFEB3B; }
.rock-light { background: #F44336; }
.metal-light { background: #212121; }
.punk-light { background: #FF9800; }
.alternative-light { background: #56707B; }
.industrial-light { background: #795548;}
.reggae-light { background: #4CAF50; }
.hiphop-light { background: #6A4C70; }
.house-light { background: #00D18D; }
.trance-light { background: #8522C3; }
.techno-light { background: #666666; }
.hardcore-light { background: #625A50; }
.breakbeat-light { background: #9A5177; }
.drumandbass-light { background: #C71F49; }
.ukgarage-light { background: #A892CC; }
.experimental-light { background: #F5F5F5; }

#tertiary-classical a:hover { color: #A18259; }
#tertiary-blues a:hover { color: #5361D0; }
#tertiary-jazz a:hover { color: #F1B1B1; }
#tertiary-country a:hover { color: #B8C299; }
#tertiary-rhythmandblues a:hover { color: #26A69A; }
#tertiary-pop a:hover { color: #FFF176; }
#tertiary-rock a:hover { color: #EF5350; }
#tertiary-metal a:hover { color: #424242; }
#tertiary-punk a:hover { color: #FFA726; }
#tertiary-alternative a:hover { color: #78909C; }
#tertiary-industrial a:hover { color: #8D6E63; }
#tertiary-reggae a:hover { color: #66BB6A; }
#tertiary-hiphop a:hover { color: #79577F; }
#tertiary-house a:hover { color: #00DE95; }
#tertiary-trance a:hover { color: #9426D9; }
#tertiary-techno a:hover { color: #777777; }
#tertiary-hardcore a:hover { color: #70675C; }
#tertiary-breakbeat a:hover { color: #A95B83; }
#tertiary-drumandbass a:hover { color: #DD2251; }
#tertiary-ukgarage a:hover { color: #B59DDB; }
#tertiary-experimental a:hover { color: #BDBDBD; }

::selection { background: #FFF; color: #222; }
.pop ::selection, .experimental ::selection { background: #222; color: #FFF; }
#tertiary-classical .tertiary-genrelist ::selection { background: #705A3D; color: #FFF; }
#tertiary-blues .tertiary-genrelist ::selection { background: #283593; color: #FFF; }
#tertiary-jazz .tertiary-genrelist ::selection { background: #E57373; color: #FFF; }
#tertiary-country .tertiary-genrelist ::selection { background: #8A9A5B; color: #FFF; }
#tertiary-rhythmandblues .tertiary-genrelist ::selection { background: #00695C; color: #FFF; }
#tertiary-pop .tertiary-genrelist ::selection { background: #FDD835; color: #222; }
#tertiary-rock .tertiary-genrelist ::selection { background: #C62828; color: #FFF; }
#tertiary-metal .tertiary-genrelist ::selection { background: #080808; color: #FFF; }
#tertiary-punk .tertiary-genrelist ::selection { background: #EF6C00; color: #FFF; }
#tertiary-alternative .tertiary-genrelist ::selection { background: #37474F; color: #FFF; }
#tertiary-industrial .tertiary-genrelist ::selection { background: #4E342E; color: #FFF; }
#tertiary-reggae .tertiary-genrelist ::selection { background: #2E7D32; color: #FFF; }
#tertiary-hiphop .tertiary-genrelist ::selection { background: #4E3852; color: #FFF; }
#tertiary-house .tertiary-genrelist ::selection { background: #009F6B; color: #FFF; }
#tertiary-trance .tertiary-genrelist ::selection { background: #6A1B9A; color: #FFF; }
#tertiary-techno .tertiary-genrelist ::selection { background: #555555; color: #FFF; }
#tertiary-hardcore .tertiary-genrelist ::selection { background: #464039; color: #FFF; }
#tertiary-breakbeat .tertiary-genrelist ::selection { background: #783F5D; color: #FFF; }
#tertiary-drumandbass .tertiary-genrelist ::selection { background: #9A1839; color: #FFF; }
#tertiary-ukgarage .tertiary-genrelist ::selection { background: #8F7CAD; color: #FFF; }
#tertiary-experimental .tertiary-genrelist ::selection { background: #EDEDED; color: #222; }

.quaternary-box.classical { border: 0.5em solid #917550; }
.quaternary-box.blues { border: 0.5em solid #3F4FCA; }
.quaternary-box.jazz { border: 0.5em solid #ED9C9C; }
.quaternary-box.country { border: 0.5em solid #ADB889; }
.quaternary-box.rhythmandblues { border: 0.5em solid #009688; }
.quaternary-box.pop { border: 0.5em solid #FFEB3B; }
.quaternary-box.rock { border: 0.5em solid #F44336; }
.quaternary-box.metal { border: 0.5em solid #212121; }
.quaternary-box.punk { border: 0.5em solid #FF9800; }
.quaternary-box.alternative { border: 0.5em solid #56707B; }
.quaternary-box.industrial { border: 0.5em solid #795548; }
.quaternary-box.reggae { border: 0.5em solid #4CAF50; }
.quaternary-box.hiphop { border: 0.5em solid #6A4C70; }
.quaternary-box.house { border: 0.5em solid #00D18D; }
.quaternary-box.trance { border: 0.5em solid #8522C3; }
.quaternary-box.techno { border: 0.5em solid #666666; }
.quaternary-box.hardcore { border: 0.5em solid #625A50; }
.quaternary-box.breakbeat { border: 0.5em solid #9A5177; }
.quaternary-box.drumandbass { border: 0.5em solid #C71F49; }
.quaternary-box.ukgarage { border: 0.5em solid #A892CC; }
.quaternary-box.experimental { border: 0.5em solid #F5F5F5; }

.quaternary-button.classical-light:hover { background: #A18259; }
.quaternary-button.blues-light:hover { background: #5361D0; }
.quaternary-button.jazz-light:hover { background: #F1B1B1; }
.quaternary-button.country-light:hover { background: #B8C299; }
.quaternary-button.rhythmandblues-light:hover { background: #26A69A; }
.quaternary-button.pop-light:hover { background: #FFF176; }
.quaternary-button.rock-light:hover { background: #EF5350; }
.quaternary-button.metal-light:hover { background: #424242; }
.quaternary-button.punk-light:hover { background: #FFA726; }
.quaternary-button.alternative-light:hover { background: #78909C; }
.quaternary-button.industrial-light:hover { background: #8D6E63; }
.quaternary-button.reggae-light:hover { background: #66BB6A; }
.quaternary-button.hiphop-light:hover { background: #79577F; }
.quaternary-button.house-light:hover { background: #00DE95; }
.quaternary-button.trance-light:hover { background: #9426D9; }
.quaternary-button.techno-light:hover { background: #777777; }
.quaternary-button.hardcore-light:hover { background: #70675C; }
.quaternary-button.breakbeat-light:hover { background: #A95B83; }
.quaternary-button.drumandbass-light:hover { background: #DD2251; }
.quaternary-button.ukgarage-light:hover { background: #B59DDB; }
.quaternary-button.experimental-light:hover { background: #FFFFFF; }

/*---------------------------------------------------------------------------*/

[id*="tertiary"] {
    display: flex;
    overflow: hidden;
}

[id*="tertiary"]:before, #primary:before {
    content: "";
    position: fixed;
    width: 100vw; height: 100vh;
    filter: brightness(40%);
    z-index: -1;
    background-size: cover;
    background-position: center center;
}

#primary:before { background-image: url("../images/intro.jpg"); }
#tertiary-classical:before { background-image: url("../images/classicalbig.jpg"); }
#tertiary-blues:before { background-image: url("../images/bluesbig.jpg"); }
#tertiary-jazz:before { background-image: url("../images/jazzbig.jpg"); }
#tertiary-country:before { background-image: url("../images/countrybig.jpg"); }
#tertiary-rhythmandblues:before { background-image: url("../images/rhythmandbluesbig.jpg"); }
#tertiary-pop:before { background-image: url("../images/popbig.jpg"); }
#tertiary-rock:before { background-image: url("../images/rockbig.jpg"); }
#tertiary-metal:before { background-image: url("../images/metalbig.jpg"); }
#tertiary-punk:before { background-image: url("../images/punkbig.jpg"); }
#tertiary-alternative:before { background-image: url("../images/alternativebig.jpg"); }
#tertiary-industrial:before { background-image: url("../images/industrialbig.jpg"); }
#tertiary-reggae:before { background-image: url("../images/reggaebig.jpg"); }
#tertiary-hiphop:before { background-image: url("../images/hiphopbig.jpg"); }
#tertiary-house:before { background-image: url("../images/housebig.jpg"); }
#tertiary-trance:before { background-image: url("../images/trancebig.jpg"); }
#tertiary-techno:before { background-image: url("../images/technobig.jpg"); }
#tertiary-hardcore:before { background-image: url("../images/hardcorebig.jpg"); }
#tertiary-breakbeat:before { background-image: url("../images/breakbeatbig.jpg"); }
#tertiary-drumandbass:before { background-image: url("../images/drumandbassbig.jpg"); }
#tertiary-ukgarage:before { background-image: url("../images/ukgaragebig.jpg"); }
#tertiary-experimental:before { background-image: url("../images/experimentalbig.jpg"); }

#medieval {background: url("../images/classical/medieval.jpg") center center / cover fixed; }
#renaissance {background: url("../images/classical/renaissance.jpg") center center / cover fixed; }
#baroque {background: url("../images/classical/baroque.jpg") center center / cover fixed; }
#opera {background: url("../images/classical/opera.jpg") center center / cover fixed; }
#classical {background: url("../images/classical/classical.jpg") center center / cover fixed; }
#romantic {background: url("../images/classical/romantic.jpg") center center / cover fixed; }
#modernism {background: url("../images/classical/modernism.jpg") center center / cover fixed; }
#filmscore {background: url("../images/classical/filmscore.jpg") center center / cover fixed; }

#spirituals {background: url("../images/blues/spirituals.jpg") center center / cover fixed; }
#deltablues {background: url("../images/blues/deltablues.jpg") center center / cover fixed; }
#boogiewoogie {background: url("../images/blues/boogiewoogie.jpg") center center / cover fixed; }
#vaudevilleblues {background: url("../images/blues/vaudevilleblues.jpg") center center / cover fixed; }
#jumpblues {background: url("../images/blues/jumpblues.jpg") center center / cover fixed; }
#westcoastblues {background: url("../images/blues/westcoastblues.jpg") center center / cover fixed; }
#chicagoblues {background: url("../images/blues/chicagoblues.jpg") center center / cover fixed; }
#louisianablues {background: url("../images/blues/louisianablues.jpg") center center / cover fixed; }
#hillcountryblues {background: url("../images/blues/hillcountryblues.jpg") center center / cover fixed; }
#soulblues {background: url("../images/blues/soulblues.jpg") center center / cover fixed; }
#electrictexasblues {background: url("../images/blues/electrictexasblues.jpg") center center / cover fixed; }

#ragtime {background: url("../images/jazz/ragtime.jpg") center center / cover fixed; }
#dixieland {background: url("../images/jazz/dixieland.jpg") center center / cover fixed; }
#swing {background: url("../images/jazz/swing.jpg") center center / cover fixed; }
#bebop {background: url("../images/jazz/bebop.jpg") center center / cover fixed; }
#cooljazz {background: url("../images/jazz/cooljazz.jpg") center center / cover fixed; }
#hardbop {background: url("../images/jazz/hardbop.jpg") center center / cover fixed; }
#souljazz {background: url("../images/jazz/souljazz.jpg") center center / cover fixed; }
#modaljazz {background: url("../images/jazz/modaljazz.jpg") center center / cover fixed; }
#freejazz {background: url("../images/jazz/freejazz.jpg") center center / cover fixed; }
#jazzfusion {background: url("../images/jazz/jazzfusion.jpg") center center / cover fixed; }
#smoothjazz {background: url("../images/jazz/smoothjazz.jpg") center center / cover fixed; }
#acidjazz {background: url("../images/jazz/acidjazz.jpg") center center / cover fixed; }
#nujazz {background: url("../images/jazz/nujazz.jpg") center center / cover fixed; }

#hillbilly {background: url("../images/country/hillbilly.jpg") center center / cover fixed; }
#westernswing {background: url("../images/country/westernswing.jpg") center center / cover fixed; }
#honkytonk {background: url("../images/country/honkytonk.jpg") center center / cover fixed; }
#bluegrass {background: url("../images/country/bluegrass.jpg") center center / cover fixed; }
#nashvillesound {background: url("../images/country/nashvillesound.jpg") center center / cover fixed; }
#bakersfieldsound {background: url("../images/country/bakersfieldsound.jpg") center center / cover fixed; }
#countrypop {background: url("../images/country/countrypop.jpg") center center / cover fixed; }
#outlawcountry {background: url("../images/country/outlawcountry.jpg") center center / cover fixed; }
#neotraditionalcountry {background: url("../images/country/neotraditionalcountry.jpg") center center / cover fixed; }
#alternativecountry {background: url("../images/country/alternativecountry.jpg") center center / cover fixed; }

#rhythmandblues {background: url("../images/rhythmandblues/rhythmandblues.jpg") center center / cover fixed; }
#doowop {background: url("../images/rhythmandblues/doowop.jpg") center center / cover fixed; }
#soul {background: url("../images/rhythmandblues/soul.jpg") center center / cover fixed; }
#motown {background: url("../images/rhythmandblues/motown.jpg") center center / cover fixed; }
#funk {background: url("../images/rhythmandblues/funk.jpg") center center / cover fixed; }
#raregroove {background: url("../images/rhythmandblues/raregroove.jpg") center center / cover fixed; }
#philadelphiasoul {background: url("../images/rhythmandblues/philadelphiasoul.jpg") center center / cover fixed; }
#disco {background: url("../images/rhythmandblues/disco.jpg") center center / cover fixed; }
#electrofunk {background: url("../images/rhythmandblues/electrofunk.jpg") center center / cover fixed; }
#newjackswing {background: url("../images/rhythmandblues/newjackswing.jpg") center center / cover fixed; }
#neosoul {background: url("../images/rhythmandblues/neosoul.jpg") center center / cover fixed; }
#urbanpop {background: url("../images/rhythmandblues/urbanpop.jpg") center center / cover fixed; }
#alternativerhythmandblues {background: url("../images/rhythmandblues/alternativerhythmandblues.jpg") center center / cover fixed; }

#traditionalpop {background: url("../images/pop/traditionalpop.jpg") center center / cover fixed; }
#brillbuildingpop {background: url("../images/pop/brillbuildingpop.jpg") center center / cover fixed; }
#bubblegumpop {background: url("../images/pop/bubblegumpop.jpg") center center / cover fixed; }
#softrock {background: url("../images/pop/softrock.jpg") center center / cover fixed; }
#synthpop {background: url("../images/pop/synthpop.jpg") center center / cover fixed; }
#dancepop {background: url("../images/pop/dancepop.jpg") center center / cover fixed; }
#electropop {background: url("../images/pop/electropop.jpg") center center / cover fixed; }

#rockandroll {background: url("../images/rock/rockandroll.jpg") center center / cover fixed; }
#surfrock {background: url("../images/rock/surfrock.jpg") center center / cover fixed; }
#beat {background: url("../images/rock/beat.jpg") center center / cover fixed; }
#garagerock {background: url("../images/rock/garagerock.jpg") center center / cover fixed; }
#bluesrock {background: url("../images/rock/bluesrock.jpg") center center / cover fixed; }
#folkrock {background: url("../images/rock/folkrock.jpg") center center / cover fixed; }
#psychedelicrock {background: url("../images/rock/psychedelicrock.jpg") center center / cover fixed; }
#progressiverock {background: url("../images/rock/progressiverock.jpg") center center / cover fixed; }
#hardrock {background: url("../images/rock/hardrock.jpg") center center / cover fixed; }
#southernrock {background: url("../images/rock/southernrock.jpg") center center / cover fixed; }
#krautrock {background: url("../images/rock/krautrock.jpg") center center / cover fixed; }
#glamrock {background: url("../images/rock/glamrock.jpg") center center / cover fixed; }
#heartlandrock {background: url("../images/rock/heartlandrock.jpg") center center / cover fixed; }

#heavymetal {background: url("../images/metal/heavymetal.jpg") center center / cover fixed; }
#nwobhm {background: url("../images/metal/nwobhm.jpg") center center / cover fixed; }
#glammetal {background: url("../images/metal/glammetal.jpg") center center / cover fixed; }
#thrashmetal {background: url("../images/metal/thrashmetal.jpg") center center / cover fixed; }
#doommetal {background: url("../images/metal/doommetal.jpg") center center / cover fixed; }
#blackmetal {background: url("../images/metal/blackmetal.jpg") center center / cover fixed; }
#progressivemetal {background: url("../images/metal/progressivemetal.jpg") center center / cover fixed; }
#powermetal {background: url("../images/metal/powermetal.jpg") center center / cover fixed; }
#deathmetal {background: url("../images/metal/deathmetal.jpg") center center / cover fixed; }
#grindcore {background: url("../images/metal/grindcore.jpg") center center / cover fixed; }
#gothicmetal {background: url("../images/metal/gothicmetal.jpg") center center / cover fixed; }
#stonerrock {background: url("../images/metal/stonerrock.jpg") center center / cover fixed; }
#numetal {background: url("../images/metal/numetal.jpg") center center / cover fixed; }
#metalcore {background: url("../images/metal/metalcore.jpg") center center / cover fixed; }

#protopunk {background: url("../images/punk/protopunk.jpg") center center / cover fixed; }
#punkrock {background: url("../images/punk/punkrock.jpg") center center / cover fixed; }
#postpunk {background: url("../images/punk/postpunk.jpg") center center / cover fixed; }
#newwave {background: url("../images/punk/newwave.jpg") center center / cover fixed; }
#nowave {background: url("../images/punk/nowave.jpg") center center / cover fixed; }
#oi {background: url("../images/punk/oi.jpg") center center / cover fixed; }
#skapunk {background: url("../images/punk/skapunk.jpg") center center / cover fixed; }
#hardcorepunk {background: url("../images/punk/hardcorepunk.jpg") center center / cover fixed; }
#psychobilly {background: url("../images/punk/psychobilly.jpg") center center / cover fixed; }
#posthardcore {background: url("../images/punk/posthardcore.jpg") center center / cover fixed; }

#janglepop {background: url("../images/alternative/janglepop.jpg") center center / cover fixed; }
#grunge {background: url("../images/alternative/grunge.jpg") center center / cover fixed; }
#shoegaze {background: url("../images/alternative/shoegaze.jpg") center center / cover fixed; }
#raprock {background: url("../images/alternative/raprock.jpg") center center / cover fixed; }
#britpop {background: url("../images/alternative/britpop.jpg") center center / cover fixed; }
#poppunk {background: url("../images/alternative/poppunk.jpg") center center / cover fixed; }
#indierock {background: url("../images/alternative/indierock.jpg") center center / cover fixed; }
#postrock {background: url("../images/alternative/postrock.jpg") center center / cover fixed; }
#postgrunge {background: url("../images/alternative/postgrunge.jpg") center center / cover fixed; }
#postbritpop {background: url("../images/alternative/postbritpop.jpg") center center / cover fixed; }
#emo {background: url("../images/alternative/emo.jpg") center center / cover fixed; }
#garagerockrevival {background: url("../images/alternative/garagerockrevival.jpg") center center / cover fixed; }
#indietronica {background: url("../images/alternative/indietronica.jpg") center center / cover fixed; }

#industrial {background: url("../images/industrial/industrial.jpg") center center / cover fixed; }
#gothrock {background: url("../images/industrial/gothrock.jpg") center center / cover fixed; }
#darkwave {background: url("../images/industrial/darkwave.jpg") center center / cover fixed; }
#ebm {background: url("../images/industrial/ebm.jpg") center center / cover fixed; }
#noise {background: url("../images/industrial/noise.jpg") center center / cover fixed; }
#industrialrock {background: url("../images/industrial/industrialrock.jpg") center center / cover fixed; }
#electroindustrial {background: url("../images/industrial/electroindustrial.jpg") center center / cover fixed; }
#futurepop {background: url("../images/industrial/futurepop.jpg") center center / cover fixed; }

#mento {background: url("../images/reggae/mento.jpg") center center / cover fixed; }
#ska {background: url("../images/reggae/ska.jpg") center center / cover fixed; }
#rocksteady {background: url("../images/reggae/rocksteady.jpg") center center / cover fixed; }
#reggae {background: url("../images/reggae/reggae.jpg") center center / cover fixed; }
#dub {background: url("../images/reggae/dub.jpg") center center / cover fixed; }
#loversrock {background: url("../images/reggae/loversrock.jpg") center center / cover fixed; }
#dancehall {background: url("../images/reggae/dancehall.jpg") center center / cover fixed; }
#ragga {background: url("../images/reggae/ragga.jpg") center center / cover fixed; }
#reggaefusion {background: url("../images/reggae/reggaefusion.jpg") center center / cover fixed; }

#oldschoolrap {background: url("../images/hiphop/oldschoolrap.jpg") center center / cover fixed; }
#turntablism {background: url("../images/hiphop/turntablism.jpg") center center / cover fixed; }
#miamibass {background: url("../images/hiphop/miamibass.jpg") center center / cover fixed; }
#eastcoastrap {background: url("../images/hiphop/eastcoastrap.jpg") center center / cover fixed; }
#westcoastrap {background: url("../images/hiphop/westcoastrap.jpg") center center / cover fixed; }
#jazzrap {background: url("../images/hiphop/jazzrap.jpg") center center / cover fixed; }
#alternativerap {background: url("../images/hiphop/alternativerap.jpg") center center / cover fixed; }
#crunk {background: url("../images/hiphop/crunk.jpg") center center / cover fixed; }
#trap {background: url("../images/hiphop/trap.jpg") center center / cover fixed; }

#chicagohouse {background: url("../images/house/chicagohouse.jpg") center center / cover fixed; }
#acidhouse {background: url("../images/house/acidhouse.jpg") center center / cover fixed; }
#deephouse {background: url("../images/house/deephouse.jpg") center center / cover fixed; }
#italohouse {background: url("../images/house/italohouse.jpg") center center / cover fixed; }
#funkyhouse {background: url("../images/house/funkyhouse.jpg") center center / cover fixed; }
#progressivehouse {background: url("../images/house/progressivehouse.jpg") center center / cover fixed; }
#techhouse {background: url("../images/house/techhouse.jpg") center center / cover fixed; }
#frenchhouse {background: url("../images/house/frenchhouse.jpg") center center / cover fixed; }
#electrohouse {background: url("../images/house/electrohouse.jpg") center center / cover fixed; }
#electroswing {background: url("../images/house/electroswing.jpg") center center / cover fixed; }
#bigroom {background: url("../images/house/bigroom.jpg") center center / cover fixed; }
#nudisco {background: url("../images/house/nudisco.jpg") center center / cover fixed; }
#futurehouse {background: url("../images/house/futurehouse.jpg") center center / cover fixed; }

#acidtrance {background: url("../images/trance/acidtrance.jpg") center center / cover fixed; }
#psychedelictrance {background: url("../images/trance/psychedelictrance.jpg") center center / cover fixed; }
#ibizatrance {background: url("../images/trance/ibizatrance.jpg") center center / cover fixed; }
#dreamtrance {background: url("../images/trance/dreamtrance.jpg") center center / cover fixed; }
#progressivetrance {background: url("../images/trance/progressivetrance.jpg") center center / cover fixed; }
#eurotrance {background: url("../images/trance/eurotrance.jpg") center center / cover fixed; }
#hardtrance {background: url("../images/trance/hardtrance.jpg") center center / cover fixed; }
#techtrance {background: url("../images/trance/techtrance.jpg") center center / cover fixed; }
#upliftingtrance {background: url("../images/trance/upliftingtrance.jpg") center center / cover fixed; }

#detroittechno {background: url("../images/techno/detroittechno.jpg") center center / cover fixed; }
#acidtechno {background: url("../images/techno/acidtechno.jpg") center center / cover fixed; }
#minimaltechno {background: url("../images/techno/minimaltechno.jpg") center center / cover fixed; }
#bangintechno {background: url("../images/techno/bangintechno.jpg") center center / cover fixed; }
#schranz {background: url("../images/techno/schranz.jpg") center center / cover fixed; }

#newbeat {background: url("../images/hardcore/newbeat.jpg") center center / cover fixed; }
#rave {background: url("../images/hardcore/rave.jpg") center center / cover fixed; }
#breakbeathardcore {background: url("../images/hardcore/breakbeathardcore.jpg") center center / cover fixed; }
#gabber {background: url("../images/hardcore/gabber.jpg") center center / cover fixed; }
#happyhardcore {background: url("../images/hardcore/happyhardcore.jpg") center center / cover fixed; }
#speedcore {background: url("../images/hardcore/speedcore.jpg") center center / cover fixed; }
#hardstyle {background: url("../images/hardcore/hardstyle.jpg") center center / cover fixed; }
#ukhardcore {background: url("../images/hardcore/ukhardcore.jpg") center center / cover fixed; }

#electro {background: url("../images/breakbeat/electro.jpg") center center / cover fixed; }
#freestyle {background: url("../images/breakbeat/freestyle.jpg") center center / cover fixed; }
#floridabreaks {background: url("../images/breakbeat/floridabreaks.jpg") center center / cover fixed; }
#bigbeat {background: url("../images/breakbeat/bigbeat.jpg") center center / cover fixed; }
#progressivebreaks {background: url("../images/breakbeat/progressivebreaks.jpg") center center / cover fixed; }
#nuskoolbreaks {background: url("../images/breakbeat/nuskoolbreaks.jpg") center center / cover fixed; }

#jungle {background: url("../images/drumandbass/jungle.jpg") center center / cover fixed; }
#atmosphericdrumandbass {background: url("../images/drumandbass/atmosphericdrumandbass.jpg") center center / cover fixed; }
#jazzstep {background: url("../images/drumandbass/jazzstep.jpg") center center / cover fixed; }
#jumpup {background: url("../images/drumandbass/jumpup.jpg") center center / cover fixed; }
#neurofunk {background: url("../images/drumandbass/neurofunk.jpg") center center / cover fixed; }
#liquidfunk {background: url("../images/drumandbass/liquidfunk.jpg") center center / cover fixed; }
#dancefloordrumandbass {background: url("../images/drumandbass/dancefloordrumandbass.jpg") center center / cover fixed; }
#deepdrumandbass {background: url("../images/drumandbass/deepdrumandbass.jpg") center center / cover fixed; }
#drumstep {background: url("../images/drumandbass/drumstep.jpg") center center / cover fixed; }

#twostepgarage {background: url("../images/ukgarage/2stepgarage.jpg") center center / cover fixed; }
#grime {background: url("../images/ukgarage/grime.jpg") center center / cover fixed; }
#bassline {background: url("../images/ukgarage/bassline.jpg") center center / cover fixed; }
#dubstep {background: url("../images/ukgarage/dubstep.jpg") center center / cover fixed; }
#futuregarage {background: url("../images/ukgarage/futuregarage.jpg") center center / cover fixed; }
#melodicdubstep {background: url("../images/ukgarage/melodicdubstep.jpg") center center / cover fixed; }
#glitchhop {background: url("../images/ukgarage/glitchhop.jpg") center center / cover fixed; }
#edmtrap {background: url("../images/ukgarage/edmtrap.jpg") center center / cover fixed; }
#futurebass {background: url("../images/ukgarage/futurebass.jpg") center center / cover fixed; }

#musiqueconcrete {background: url("../images/experimental/musiqueconcrete.jpg") center center / cover fixed; }
#synth {background: url("../images/experimental/synth.jpg") center center / cover fixed; }
#ambient {background: url("../images/experimental/ambient.jpg") center center / cover fixed; }
#newage {background: url("../images/experimental/newage.jpg") center center / cover fixed; }
#chiptune {background: url("../images/experimental/chiptune.png") center center / cover fixed; }
#darkambient {background: url("../images/experimental/darkambient.jpg") center center / cover fixed; }
#triphop {background: url("../images/experimental/triphop.jpg") center center / cover fixed; }
#illbient {background: url("../images/experimental/illbient.jpg") center center / cover fixed; }
#glitch {background: url("../images/experimental/glitch.jpg") center center / cover fixed; }
#synthwave {background: url("../images/experimental/synthwave.jpg") center center / cover fixed; }
#vaporwave {background: url("../images/experimental/vaporwave.jpg") center center / cover fixed; }

/*---------------------------------------------------------------------------*/

@media (orientation: portrait) {
    ::-webkit-scrollbar {
        width: 0;
    }

    #primary-intro {
        font-size: 6vw;
    }

    #secondary {
        margin: 3vw 6vw;
        padding-top: 0.5em;
        font-size: 5vw;
        text-align: center;
    }

    .secondary-grid {
        margin: 1em 0 1em;
    }

    .secondary-grid-item {
        flex: 1 1 calc(100% - 2vw);
        margin-bottom: 3vw;
    }

    .secondary-grid-item img {
        height: 25vw;
        object-fit: cover;
    }

    .secondary-grid-item span, #shrink {
        font-size: 8vw;
    }

    .tertiary-genrelist {
        padding: 1em 1em 0.5em;
        font-size: 6vw;
    }

    .tertiary-sidebar {
        font-size: 4vw;
        height: 100%;
        max-width: 100vw;
        box-shadow: 0 -0.01em 0.5em rgba(0, 0, 0, 0.6);
    }

    .quaternary-grid-item {
        flex: 0 0 calc(100% / 6);
    }

    .quaternary-box {
        font-size: 4vw;
        width: 89vw;
        margin: 1.5em;
    }

    .quaternary-box h1 {
        margin-bottom: 0.33em;
    }

    .quaternary-year {
        float: left;
        margin-right: 100%;
        margin-bottom: 0.5em;
        font-size: 1.5em;
        position: relative;
        top: 0; right: 0;
        white-space: nowrap;
    }

    .quaternary-button {
        font-size: 2em;
    }

    .quaternary-artisttrack {
        font-size: 4vw;
    }

    [id*="tertiary-"] {
        display: block;
        overflow: auto;
    }
}
